<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Your meta description goes here."/>
    <meta name="keywords" content="your, meta, keywords, go, here"/>
    <title>
        {% block head_title %}
            Epiq SasS
        {% endblock head_title %}
    </title>
</head>
<body>
    <h1>Welcome to my nightmare</h1>
    {% block content %}
    {% endblock content %}
</body>
</html>
